# Ignore custom OS module as this is installed in devcontainer and not part of this repo
Slim/Utils/OS/Custom.pm

# Ignore cache, logs and prefs files
Cache/*
Logs/*
prefs/*
Plugins/*

# Ignore custom local scripts and artifacts
local/
*.bin
*.version
*.tar
*.tar.gz
*.zip
*.patch
*.fixed
*.txt
*.bb
*.bbclass
*.inc
!License.txt
!README.md
!DEVELOPERS.txt
!SOCKS.txt
!*.html
!*.lua
!*.pl
!*.pm
!*.conf
!*.js
!*.css
!*.png
!*.svg
!*.ico
!*.json
!*.yaml
!*.yml
!*.sh
!*.bat
!*.ps1
!*.md
